/* Default CSS Styles */
body{
    margin: 0;
    font-family: "Inter","Poppins" sans-serif;
}

:root{
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
}



/* Nav section styles */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.logo-part{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;

}
.nav-link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 50px;
}

.menu-part{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu-part li{
    list-style: none;
}
.menu-part li a{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}

/* Banner section style */

.banner-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.banner-title{
    margin: 0;
    color: var(--primary-color);
    font-size: 3.25rem;
    font-weight: 700;

}
.banner-description{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 1.50rem 0rem 2.50rem 0rem;
}

.btn-primary{
    border-radius: 2.75rem;
    background: var(--secondary-color);
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: 0px;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-border-radius: 2.75rem;
    -moz-border-radius: 2.75rem;
    -ms-border-radius: 2.75rem;
    -o-border-radius: 2.75rem;
}

.banner-img{
    background-image: url("../images/Circle design.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-img img{
    width: 400px;
    height: 400px;
    padding: 2.5rem;
}

.banner-logo{
    display: flex;
    justify-content: space-evenly;
    padding: 3.75rem 0rem;
    border-bottom: 1px solid #89909932;
    border-top: 1px solid #89909932;
}

/* Porducts section style */

.title-product{
    font-size: 28px;
    font-weight: 600;
    line-height: 70px; 
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
}

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0rem 4.25rem;
}

.product-group{
    padding: 1rem;
    height: 600px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.product-group img{
    width: 100%;
}

.product-title{
    color:#18191F;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
}

.product-subtitle{
    color: #18191F;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.product-menu{
    display: flex;
}
.product-icon{
    display: flex;
    padding: 0rem;
    margin: 0rem;
}
.product-menu h3{
    margin: 0rem 0rem 0rem 0.75rem;
    color: var(--gray-80, #5E6366);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
}
.product-icon li{
    margin: 0;
    list-style: none;
}
.product-icon > li i{
    color: #FB8200;
}


.link-here{
    text-align: end;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    padding-right: 70px;
    margin-top: 80px;
}
.link-here a{
    color: #E02C6D;
    text-decoration: none;
}

/* feature section style */
.feature-area{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 100px 50px;
    justify-content: space-evenly;
    
}
.feature-title{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    text-transform: capitalize;
    
}

.feature-description{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.btnn{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* Footer section styles */
.footer-area{
    padding: 50px 0px;
    background-color: #0A0826;
}

.footer-section{
    text-align: center;
}

.footer-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.footer-description{
    color:  #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    margin: 0rem 0rem 1.5rem;
  
}

.footer-icon i{
    color: #D9DBE1;
    margin-right: 1rem;
    font-size: 1.5rem;
}







@media screen and (max-width: 576px) {
    
    .nav-link,
    .banner-logo{
        flex-direction: column;   
    }
    .banner-logo img{
        max-width: 200px;
        margin: 2rem auto;
    }
    .nav-link{
        margin-bottom: 0rem;
        padding-top: 30px;
        
    }
    .logo-part{
        text-align: center;
    }
    .banner-area{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .banner-img{
        background-image: none;
        padding: 1.25rem;
        margin-bottom: 1.25rem;
    }
    .banner-title{
        font-size: 2.25rem;
        margin: 0rem;
    }
    .product-list{
        padding: 0rem 1rem;
        grid-template-columns: 1fr;
        
    }
    .product-group{
        height: auto;
    }

    .feature-area{
        flex-direction: column;
        margin: 20px 0px;
        padding: 20px;
        gap: 20px;
    }
    .feature-content{
        margin-bottom: 20px;
    }
    
    .img-part img{
        width: 100%;
    }
    
}






@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-link, .banner-section{
        padding: 20px;
    }
    .nav-link{
        margin-bottom: 0rem;
    }
    .product-list{
        padding: 0rem 1rem;
        grid-template-columns: repeat(2,1fr);
    }
    .product-group{
        height: auto;
    }
    .feature-area{
        gap: 50px;
    }
}